<a
  routerLink="add"
  class="text-2xl text-white w-8 text-center bg-emerald-500 block"
  >+</a
>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>ID</th>
      <th>Image</th>
      <th>Name</th>
      <th>Price</th>
      <th>CreatedAlt</th>
      <th>Action</th>
    </tr>
  </thead>
  <!-- *ngIf="products && products.length" -->
  <tbody>
    <tr *ngFor="let product of products; index as i" class="mb-[20px]">
      <td>{{ i + 1 }}</td>
      <td>{{ product.id }}</td>
      <td class="w-[60px] h-[60px]">
        <img
          class="w-full h-full object-cover rounded-md"
          src="{{ product.image }}"
          alt="{{ product.name }}"
        />
      </td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.createAt }}</td>
      <td>
        <a class="p-2 bg-blue-700" routerLink="">Cập nhật</a>
        <button
          class="p-2 bg-red-700 text-white"
          (click)="removeProduct(product.id)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
